<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Triangle Aligné à Droite</title>
    <script>
        function afficher() {
            var saisie = parseInt(document.getElementById('V1').value);
            var resultat = "";	

            for (var i = 1; i <= saisie; i++) {
                resultat += "&nbsp;".repeat(saisie - i) + "*".repeat(i) + "<br>";
            }

            document.getElementById('result').innerHTML = resultat;
        }
    </script>
</head>
<body>
    <h1>Triangle Aligné à Droite</h1>
    <p>Saisir un chiffre : <input id="V1" type="number"></p>
    <button onclick="afficher()">Afficher</button>
    <div id="result" style="font-family: monospace;"></div>
</body>
</html>
