<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableaux</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <!-- Premier Tableau -->
    <table>
        <tr>
            <td colspan="2">un tableau</td>
            <td colspan="2">à 6</td>
            <td colspan="2"><b>cases</b></td>
        </tr>
    </table>

    <br><br>


    <h3><i>Voici la deuxième partie</i></h3>

<p class="red">Une liste</p>

<ol>
    <li>premier point
        <ul>
            <li>rubrique 1</li>
            <li>rubrique 2</li>
        </ul>
    </li>
    <li>2e point</li>
    <li>3e point
        <ul>
            <li>rubrique 1</li>
            <li>rubrique 2</li>
        </ul>
    </li>
</ol>

<br>


    <!-- Deuxième Tableau -->
    <table>
        <tr>
            <td colspan="4" class="bold">un autre tableau</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2">
                <table width="100%">
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </table>
            </td>
            <td rowspan="2"></td>
            <td>
                <table width="100%">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>




